
venv/
datasets/*
.idea/
.ipynb_checkpoints/

__pycache__/

models_images/data_train_images.h5
models_images/data_test_images.h5
models_images/data_test_landmarks.h5
models_images/data_train_landmarks.h5

models_images/
